.ll-content-lesson-option-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.ll-content-lesson-option-controls .description {
    min-height: 20px;
}
