.hidden {
    display: none !important;
}
#ll-tools-category-selection {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 80vh; /* Limit the height of the category selection screen */
}

#ll-tools-category-selection h3 {
    margin-bottom: 10px;
}

.ll-tools-category-selection-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.ll-tools-category-selection-buttons button {
    margin: 0 5px;
}

#ll-tools-category-checkboxes-container {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    max-height: calc(80vh - 150px); /* Adjust the height based on other elements */
}

#ll-tools-category-checkboxes {
    max-height: 100%;
}

#ll-tools-start-selected-quiz {
    align-self: center;
}

body.ll-tools-flashcard-open {
    overflow: hidden;
}

#ll-tools-skip-flashcard, #ll-tools-repeat-flashcard {
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
    padding-left: 0px;
    padding-right: 0px;
}

#ll-tools-start-flashcard {
    display: block;
    margin-bottom: 40px;
}

#ll-tools-flashcard-container {
    position: relative;
}

#ll-tools-flashcard-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

.ll-tools-loading-animation {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #333333;
    border-radius: 50%;
    animation: ll-tools-spin 2s linear infinite;
}

@keyframes ll-tools-spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

#ll-tools-flashcard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

#ll-tools-flashcard-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

#ll-tools-close-flashcard {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 10px;
    line-height: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

#ll-tools-flashcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center; 
    max-width: 700px;
    width: 100%;
}

.flashcard-container {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 0; /* No spacing inside the card to allow image to fill */
    background: #fff;
    text-align: center; /* Center-align the image inside the card */
    width: 150px; /* Width of the flashcard */
    height: 150px; /* Height of the flashcard */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    cursor: pointer;
}

.flashcard-container img {
    object-fit: contain;
}

.flashcard-container.landscape {
    width: 200px;
    max-width: 200px;
    height: auto;
}

.flashcard-container.portrait {
    width: 100%;
    height: auto;
}

.flashcard-container.text-based {
    width: 250px;
    max-width: 250px;
    height: 150px;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    pointer-events: none; /* Prevent interaction during fade-out */
}

.quiz-image {
    width: 100%; /* Adjusted to ensure the image fills the container */
    height: 100%; /* Adjusted to ensure the image fills the container */
    object-fit: cover; /* Ensures the image covers the container, maintaining its aspect ratio */
    border-radius: 10px; /* Apply rounded corners to the image */
    cursor: pointer; 
    transition: transform 0.3s ease;
}

.quiz-translation {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.quiz-translation.long-text {
    font-size: 12px;
}

.quiz-image:hover {
    transform: scale(1.05);
}

/* Hide the audio player */
#ll-tools-flashcard audio {
    display: none;
}
