/* Doulos SIL - bundled for IPA support */
@font-face {
    font-family: "LL-IPA";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/ll-ipa/ll-ipa.woff2") format("woff2");
}
