.ll-word-audio {
    display: inline;
}

p:has(.ll-word-audio) {
	margin: 0;
	display: inline;
}

<<<<<<< HEAD
=======
/* the div element surrounding the populated content of the post */
.vocab-item {
    /* border: 0px solid #ddd;
    padding: 15px;
    margin-bottom: 20px; */
}

>>>>>>> origin/main
.vocab-item h2 {
    color: #333;
}

.vocab-featured-image {
    width: 300px; /* Set the width of the image */
    height: auto; /* Keep the aspect ratio */
}

/*
 * Styling for the word-grid shortcode (the whole grid)
 */
.word-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 20px;
	gap: 0px !important;
}

/*
 * Styling for an individual item in the words-grid
 */
.word-item {
    border: 0px solid #ddd;
<<<<<<< HEAD
    padding: 10px;
=======
    padding: 10px;
>>>>>>> origin/main
    text-align: center;
}

/*
 * The title of a word in the word-grid
 */
.word-grid h3 {
	font-size: 18px !important;
	margin-top: -25px !important;
}
/* The image shown for a word in the word-grid */
.word-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 0px;
<<<<<<< HEAD
    border-radius: 0px;
=======
    border-radius: 10px; /* Add rounded corners */
>>>>>>> origin/main
}

/* Container for the word image, to make rounded corners work */
.word-image-container {
    display: inline-block; /* Or flex, depending on your design */
<<<<<<< HEAD
    padding: 0px; 
	width: 250px;
    margin-bottom: 30px;
    border-radius: 10px;
=======
    padding: 5px; /* Adjust as necessary */
    margin-bottom: 15px; /* Adjust as necessary */
    border-radius: 10px; /* Add rounded corners */
>>>>>>> origin/main
    overflow: hidden; /* Ensure the rounded corners clip the content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for depth, similar to flashcards */
}

/*
 * The example sentence shown for a word in the word-grid
 */
.word-example {
	margin-top: -15px !important;
}

/*
 * The English translation of the example sentence for a word in the word-grid
 */
.word-translation {
	margin-top: -20px !important;
}
