WP_TEST_DB_NAME=local_test
WP_TEST_DB_USER=root
WP_TEST_DB_PASS=root
WP_TEST_DB_HOST=127.0.0.1:10019
WP_TESTS_DIR=/tmp/wordpress-tests-lib
WP_CORE_DIR=/tmp/wordpress

# Optional explicit binaries
# PHP_BIN=/usr/bin/php
# MYSQL_BIN=/usr/bin/mysql
