<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="bootstrap.php"
    colors="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Language Learner Tools">
            <directory suffix="Test.php">Integration</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
        <const name="WP_DEBUG" value="true"/>
        <const name="WP_DEBUG_DISPLAY" value="false"/>
    </php>
</phpunit>
